html, body
{
    background-color:#C4DFDF;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

div.v1
{
    position: relative;
    top: 15%;
    bottom: 25%;
}

.container
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.title
{
    text-align: center;
    color: #7FA1C3;
}

p.text
{
    text-align:center;
    color: #7FA1C3;
}

a
{
    color: #7FA1C3;
}