html, body
{
    background-color:#D1E9F6;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    top: 15%;
    bottom: 25%;
}

.container
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.title
{
    text-align: center;
}

p.text
{
    text-align:center;
}